In [1]:
#standard imports
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import os
import seaborn as sns
import csv
import warnings
warnings.filterwarnings ('ignore')

In [2]:
data=pd.read_csv("water_potability.csv")
data.head()

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,NaN,204.890455,20791.318981,7.300212,368.516441,564.308654,10.379783,86.990970,2.963135,0
1,3.716080,129.422921,18630.057858,6.635246,NaN,592.885359,15.180013,56.329076,4.500656,0
2,8.099124,224.236259,19909.541732,9.275884,NaN,418.606213,16.868637,66.420093,3.055934,0
3,8.316766,214.373394,22018.417441,8.059332,356.886136,363.266516,18.436524,100.341674,4.628771,0
4,9.092223,181.101509,17978.986339,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075,0

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3276 entries, 0 to 3275
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ph               2785 non-null   float64
 1   Hardness         3276 non-null   float64
 2   Solids           3276 non-null   float64
 3   Chloramines      3276 non-null   float64
 4   Sulfate          2495 non-null   float64
 5   Conductivity     3276 non-null   float64
 6   Organic_carbon   3276 non-null   float64
 7   Trihalomethanes  3114 non-null   float64
 8   Turbidity        3276 non-null   float64
 9   Potability       3276 non-null   int64
dtypes: float64(9), int64(1)
memory usage: 256.1 KB

In [4]:
print(data.isnull().sum())

ph                 491
Hardness             0
Solids               0
Chloramines          0
Sulfate            781
Conductivity         0
Organic_carbon       0
Trihalomethanes    162
Turbidity            0
Potability           0
dtype: int64

In [5]:
data['ph'].fillna((data['ph'].mean()), inplace=True)
data['Sulfate'].fillna((data['Sulfate'].mean()), inplace=True)
data['Trihalomethanes'].fillna((data['Trihalomethanes'].mean()), inplace=True)
data.head()

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,7.080795,204.890455,20791.318981,7.300212,368.516441,564.308654,10.379783,86.990970,2.963135,0
1,3.716080,129.422921,18630.057858,6.635246,333.775777,592.885359,15.180013,56.329076,4.500656,0
2,8.099124,224.236259,19909.541732,9.275884,333.775777,418.606213,16.868637,66.420093,3.055934,0
3,8.316766,214.373394,22018.417441,8.059332,356.886136,363.266516,18.436524,100.341674,4.628771,0
4,9.092223,181.101509,17978.986339,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075,0

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3276 entries, 0 to 3275
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ph               3276 non-null   float64
 1   Hardness         3276 non-null   float64
 2   Solids           3276 non-null   float64
 3   Chloramines      3276 non-null   float64
 4   Sulfate          3276 non-null   float64
 5   Conductivity     3276 non-null   float64
 6   Organic_carbon   3276 non-null   float64
 7   Trihalomethanes  3276 non-null   float64
 8   Turbidity        3276 non-null   float64
 9   Potability       3276 non-null   int64
dtypes: float64(9), int64(1)
memory usage: 256.1 KB

In [7]:
#create x (all the feature columns)
x=data.drop ("Potability" ,axis=1)

#create y (the target column)
y=data["Potability"]

In [9]:
x.head()

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity
0,7.080795,204.890455,20791.318981,7.300212,368.516441,564.308654,10.379783,86.990970,2.963135
1,3.716080,129.422921,18630.057858,6.635246,333.775777,592.885359,15.180013,56.329076,4.500656
2,8.099124,224.236259,19909.541732,9.275884,333.775777,418.606213,16.868637,66.420093,3.055934
3,8.316766,214.373394,22018.417441,8.059332,356.886136,363.266516,18.436524,100.341674,4.628771
4,9.092223,181.101509,17978.986339,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075

In [10]:
#split data into training and test sets
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(x, y,test_size=0.2 , random_state=1, stratify=y)

x_train.shape, x_test.shape, y_train.shape, y_test.shape

((2620, 9), (656, 9), (2620,), (656,))

In [11]:
y_test.value_counts()

0    400
1    256
Name: Potability, dtype: int64

In [12]:
x_train.head()

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity
2991,6.628256,198.865743,15911.357509,7.517906,342.015924,437.918625,15.005742,38.845958,4.464457
2428,8.848927,262.598329,24417.861325,5.399013,241.126298,493.855489,13.262439,47.112991,5.992325
111,7.875895,226.284788,12710.249452,7.303127,346.403258,445.374147,6.063462,63.128044,4.238589
2293,5.814564,184.541709,29382.335258,6.051233,348.352374,405.621375,18.748201,82.186737,4.131912
2422,7.420641,212.735585,18463.722127,6.727919,355.971495,523.602714,12.086675,44.980102,5.423767

In [13]:
#we will use a Random Forest
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()

In [14]:
#we'll hyperparameters as default first
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [15]:
clf.fit(x_train, y_train)

RandomForestClassifier()

In [16]:
# In order to predict a label, data has to be in the same shape as X_train
x_test.head()

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity
1831,7.079304,137.007355,24282.154769,5.705693,433.633900,342.725318,9.113945,88.328605,5.553174
968,7.856471,204.783428,5619.135558,5.816703,343.545419,432.043120,14.947720,55.961613,4.534681
2912,5.158723,119.093840,33892.245951,7.572175,407.476849,325.202570,16.963982,73.224833,4.094605
1897,6.309892,133.649925,31062.371915,6.975602,252.108925,381.058776,17.200008,71.181544,3.603040
1728,7.002480,168.952591,20518.555433,10.135987,333.775777,457.646782,9.812921,56.921862,3.352436

In [17]:
y_preds = clf.predict(x_test)
print(y_preds)

[0 0 0 1 0 0 0 0 0 0 0 1 1 0 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0
 1 0 0 1 0 0 0 1 0 0 0 1 1 0 0 1 0 0 0 1 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 1 0 0 0 1 0 0 1 0 0 0 0 1 0 0 0 0 0 1 0 1 0
 0 1 0 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 1 0 0 0 1 1 0 0 0
 1 1 0 0 0 0 0 0 0 1 0 0 0 0 1 0 0 1 1 0 0 0 0 0 0 0 1 1 0 0 0 0 1 0 0 0 0
 1 0 1 0 0 0 0 1 0 1 1 0 0 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 1
 0 0 0 1 0 0 0 0 0 1 0 0 0 0 1 0 0 0 1 0 1 0 0 0 0 0 1 0 0 1 1 0 0 0 1 0 0
 0 0 1 1 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 1 0 0 0 0 1 0
 0 0 0 0 0 1 0 1 1 1 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0 0 1 0 0 0 0 0 0 0 0 0 1
 0 0 1 0 0 0 1 0 0 0 1 1 0 1 0 0 1 0 0 0 0 1 0 0 0 0 0 0 1 0 0 1 0 0 1 0 0
 0 1 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 1 1 0 1 0 1 1 0 0 1 0 1 0 0 0 0 0 0 0 0
 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0
 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 1 0 0 1 0 1 0 0 0 0 1 0 0 0 1 1 1 1 0
 0 1 0 1 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0
 0 1 0 0 1 0 0 0 0 1 0 0 1 0 0 0 0 1 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 1 0 0 0 1 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0
 0 1 1 0 0 0 0 1 1 1 1 0 1 0 1 0 1 0 1 0 0 0 1 1 0 0 0 0 0 0 0 0 0 0 0 1 0
 0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0]

In [18]:
# Evaluate the model on the training set
clf.score(x_train, y_train)

1.0

In [19]:
# Evaluate the model on the test set
clf.score(x_test, y_test)

0.6753048780487805

In [20]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

print(classification_report(y_test, y_preds))

              precision    recall  f1-score   support

           0       0.68      0.88      0.77       400
           1       0.65      0.36      0.46       256

    accuracy                           0.68       656
   macro avg       0.67      0.62      0.62       656
weighted avg       0.67      0.68      0.65       656

In [21]:
conf_mat = confusion_matrix(y_test, y_preds)
conf_mat

array([[351,  49],
       [164,  92]], dtype=int64)

In [22]:
np.random.seed(42)
highest_score = 0
best_est = 0
for i in range(10, 201, 10):
    print(f"Trying model with {i} estimators...")
    model = RandomForestClassifier(n_estimators=i).fit(x_train, y_train)
    score = model.score(x_test, y_test) * 100
    if score > highest_score:
        highest_score = score
        best_est = i
    print(f"Model accuracy on test set: { score}%")
    print("")
    
print(f"High Score: {highest_score}, Estimators: {best_est}")

Trying model with 10 estimators...
Model accuracy on test set: 66.0060975609756%

Trying model with 20 estimators...
Model accuracy on test set: 66.92073170731707%

Trying model with 30 estimators...
Model accuracy on test set: 67.22560975609755%

Trying model with 40 estimators...
Model accuracy on test set: 69.35975609756098%

Trying model with 50 estimators...
Model accuracy on test set: 68.4451219512195%

Trying model with 60 estimators...
Model accuracy on test set: 66.46341463414635%

Trying model with 70 estimators...
Model accuracy on test set: 66.92073170731707%

Trying model with 80 estimators...
Model accuracy on test set: 65.85365853658537%

Trying model with 90 estimators...
Model accuracy on test set: 70.27439024390245%

Trying model with 100 estimators...
Model accuracy on test set: 68.59756097560977%

Trying model with 110 estimators...
Model accuracy on test set: 68.14024390243902%

Trying model with 120 estimators...
Model accuracy on test set: 67.6829268292683%

Trying model with 130 estimators...
Model accuracy on test set: 68.75%

Trying model with 140 estimators...
Model accuracy on test set: 68.59756097560977%

Trying model with 150 estimators...
Model accuracy on test set: 69.35975609756098%

Trying model with 160 estimators...
Model accuracy on test set: 67.53048780487805%

Trying model with 170 estimators...
Model accuracy on test set: 69.51219512195121%

Trying model with 180 estimators...
Model accuracy on test set: 68.29268292682927%

Trying model with 190 estimators...
Model accuracy on test set: 69.0548780487805%

Trying model with 200 estimators...
Model accuracy on test set: 68.29268292682927%

High Score: 70.27439024390245, Estimators: 90

In [23]:
from sklearn.model_selection import cross_val_score

# With cross-validation
np.random.seed(42)
for i in range(10, 151, 10):
    print(f"Trying model with {i} estimators...")
    model = RandomForestClassifier(n_estimators=i).fit(x_train, y_train)
    print(f"Model accuracy on test set: {model.score(x_test, y_test) * 100}%")
    print(f"Cross-validation score: {np.mean(cross_val_score(model, x, y, cv=5)) * 100}%")
    print("")

Trying model with 10 estimators...
Model accuracy on test set: 66.0060975609756%
Cross-validation score: 61.356637497672686%

Trying model with 20 estimators...
Model accuracy on test set: 68.14024390243902%
Cross-validation score: 62.363665983988085%

Trying model with 30 estimators...
Model accuracy on test set: 67.07317073170732%
Cross-validation score: 63.82898901508099%

Trying model with 40 estimators...
Model accuracy on test set: 68.29268292682927%
Cross-validation score: 62.08867063861479%

Trying model with 50 estimators...
Model accuracy on test set: 67.98780487804879%
Cross-validation score: 62.60808043194936%

Trying model with 60 estimators...
Model accuracy on test set: 67.53048780487805%
Cross-validation score: 63.18776764103517%

Trying model with 70 estimators...
Model accuracy on test set: 66.46341463414635%
Cross-validation score: 63.43162353379259%

Trying model with 80 estimators...
Model accuracy on test set: 67.6829268292683%
Cross-validation score: 63.3403928504934%

Trying model with 90 estimators...
Model accuracy on test set: 67.6829268292683%
Cross-validation score: 63.584621113386696%

Trying model with 100 estimators...
Model accuracy on test set: 67.07317073170732%
Cross-validation score: 63.065630236455036%

Trying model with 110 estimators...
Model accuracy on test set: 66.76829268292683%
Cross-validation score: 63.279137963135355%

Trying model with 120 estimators...
Model accuracy on test set: 67.07317073170732%
Cross-validation score: 62.79063489108173%

Trying model with 130 estimators...
Model accuracy on test set: 67.98780487804879%
Cross-validation score: 63.279137963135355%

Trying model with 140 estimators...
Model accuracy on test set: 67.53048780487805%
Cross-validation score: 63.035002792776005%

Trying model with 150 estimators...
Model accuracy on test set: 68.14024390243902%
Cross-validation score: 63.889638800968164%

In [24]:
np.random.seed(42)
from sklearn.model_selection import GridSearchCV

# Define the parameters to search over
param_grid = {'n_estimators': [i for i in range(10, 101, 10)], 'max_depth': [0,5,10]}

# Setup the grid search
grid = GridSearchCV(RandomForestClassifier(),
                    param_grid,
                    cv=5,
                    scoring='recall'
                   )

# Fit the grid search to the data
grid.fit(x, y)

# Find the best parameters
grid.best_params_

{'max_depth': 10, 'n_estimators': 10}

In [25]:
# Set the model to be the best estimator
clf = grid.best_estimator_
clf

RandomForestClassifier(max_depth=10, n_estimators=10)

In [26]:
# Fit the best model
clf = clf.fit(x_train, y_train)

In [27]:
# Find the best model scores
clf.score(x_test, y_test)

0.6646341463414634

In [28]:
import pickle

# Save an existing model to file
pickle.dump(model, open("myModel.pkl", "wb"))

In [29]:
# Load a saved model and make a prediction
loaded_model = pickle.load(open("myModel.pkl", "rb"))
y_test_pred = loaded_model.predict(x_test)
y_test_pred

array([0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0,
       1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0,
       1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1,
       1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0], dtype=int64)

In [30]:
import joblib
filename='model_2'
joblib.dump(model, filename)

['model_2']

In [31]:
mymodel = joblib.load(filename)

In [32]:
mymodel.score(x_test, y_test)

0.6814024390243902